USE [master]
GO
/****** Object:  Database [SemanaTecnologia]    Script Date: 16/11/2015 16:19:59 ******/
CREATE DATABASE [SemanaTecnologia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SemanaTecnologia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SemanaTecnologia.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SemanaTecnologia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SemanaTecnologia_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SemanaTecnologia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SemanaTecnologia]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 16/11/2015 16:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[PK_EVENT] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[LOCATION] [nvarchar](225) NOT NULL,
	[DATE] [date] NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[START_TIME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](225) NULL,
	[FK_PALESTRANTE] [int] NOT NULL,
	[NSLOTS] [int] NOT NULL,
	[END_TIME] [nvarchar](50) NOT NULL,
	[HOUR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[PK_EVENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Insc_Evento]    Script Date: 16/11/2015 16:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insc_Evento](
	[PK_INSC_EVENTO] [int] IDENTITY(1,1) NOT NULL,
	[FK_EVENTO] [int] NOT NULL,
	[FK_INSCRICAO] [int] NOT NULL,
 CONSTRAINT [PK_Insc_Evento] PRIMARY KEY CLUSTERED 
(
	[PK_INSC_EVENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inscricao]    Script Date: 16/11/2015 16:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscricao](
	[PK_INSCRICAO] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [nvarchar](14) NOT NULL,
	[DATE] [date] NOT NULL,
 CONSTRAINT [PK_Inscricao] PRIMARY KEY CLUSTERED 
(
	[PK_INSCRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Palestrante]    Script Date: 16/11/2015 16:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palestrante](
	[PK_PALESTRANTE] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[TITRATION] [nvarchar](225) NOT NULL,
	[CV] [nvarchar](225) NOT NULL,
	[CITY] [nvarchar](100) NOT NULL,
	[TEL] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Palestrante] PRIMARY KEY CLUSTERED 
(
	[PK_PALESTRANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Participante]    Script Date: 16/11/2015 16:19:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[PK_PARTICIPANTE] [nvarchar](14) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[COURSE] [nvarchar](50) NOT NULL,
	[PERIOD] [int] NOT NULL,
	[TEL] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[LOGIN] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[PROFILE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Participante] PRIMARY KEY CLUSTERED 
(
	[PK_PARTICIPANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Palestrante] FOREIGN KEY([FK_PALESTRANTE])
REFERENCES [dbo].[Palestrante] ([PK_PALESTRANTE])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Palestrante]
GO
ALTER TABLE [dbo].[Insc_Evento]  WITH CHECK ADD  CONSTRAINT [FK_Insc_Evento_Evento] FOREIGN KEY([FK_EVENTO])
REFERENCES [dbo].[Evento] ([PK_EVENT])
GO
ALTER TABLE [dbo].[Insc_Evento] CHECK CONSTRAINT [FK_Insc_Evento_Evento]
GO
ALTER TABLE [dbo].[Insc_Evento]  WITH CHECK ADD  CONSTRAINT [FK_Insc_Evento_Inscricao] FOREIGN KEY([FK_INSCRICAO])
REFERENCES [dbo].[Inscricao] ([PK_INSCRICAO])
GO
ALTER TABLE [dbo].[Insc_Evento] CHECK CONSTRAINT [FK_Insc_Evento_Inscricao]
GO
ALTER TABLE [dbo].[Inscricao]  WITH CHECK ADD  CONSTRAINT [FK_Inscricao_Participante] FOREIGN KEY([CPF])
REFERENCES [dbo].[Participante] ([PK_PARTICIPANTE])
GO
ALTER TABLE [dbo].[Inscricao] CHECK CONSTRAINT [FK_Inscricao_Participante]
GO
USE [master]
GO
